
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (min-width: 55.5em) {


.header-container {
	margin-bottom: 5px;
}

    .title {
        float: left;
        width: 40%;
    }
   

    nav {
        float: right;
        width: 50%;
    }
    
    nav ul li {
    display: inline-block;
    width: 20%;
    }
    nav ul:first-child {
    margin-left: 20px;
    }
    
    nav a, h1 a {
    	background: none;
    	border-bottom: 0px;
    	margin-top: 25px;
    	border: none;
    }
    h1 a { padding: 0px;  margin-bottom: 0px; }
    
   

.main-container { 
	clear: both;
}

.row {  
	display: inline-block;
}

.row .span {
	float: left;
	min-height: 1px;
	width: 30%;
	margin: 1%;
}

#article { 
	clear: both;
	margin: inherit;
	padding: 2%; 
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	width: inherit;
	overflow: hidden;
	
}

.section { 
	margin: 2% 1% 2% 3%;
	width: 45%;
	min-height: 1px;
	vertical-align: top;
}

.section .left { float: left; }
.section .right {float: right; }
	.section img {
		float: left; 
		clear: none; 
		margin-left: auto; 
		margin-right: auto;
		border-right: 1px solid gray;
		padding-right: 2%;
		margin-right: 2%;
	}

.block {  }

#floater {
	visibility: visible;
	clear: both;
}
.span img { width: 30%; margin-top: -7%; }

footer.wrapper ul {  
	float: right; 
	margin-right: 2%; 
	width: 10%; 
}
footer.wrapper ul li { border: none; padding: none; }

footer.wrapper img { 
	float: right;
	width: 32px;
	margin-top: 10px;
}
form { margin-bottom: 4%; }

#callout {
	text-align: center;
}

}


@media screen and (min-width: 70em) {
	
#page-wrap {
	width: 90%;	
}
