
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (min-width: 40.5em) {


.header-container {
	margin-bottom: 5px;
}

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 50%;
    }
    
    nav ul li {
    display: inline-block;
    width: 20%;
    }
    nav ul:first-child {
    margin-left: 20px;
    }
    
    nav a, h1 a {
    	background: none;
    	border-bottom: 0px;
    	margin-top: 25px;
    	border: none;
    }
    h1 a { padding: 0px;  margin-bottom: 0px; }
    
    h1 img { width: 15%; }

.main-container { 
	clear: both;
}

.row {  
	display: inline-block
}

.row .span {
	float: left;
	min-height: 1px;
	width: 30%;
	margin: 1%;
}

article { 
	clear: both;
	margin: 0 6% 6% 6%;
	padding: 1%;
}

 
.block {  }

#floater {
	padding: 2%;
	background-color: #e65e2a;
	clear: both;
	width: 40%;
	height: 20%;
}