#nav ul {
	margin: 0 auto;
	text-align: center;
}

#nav ul li { 
	display: inline-block;
	margin: 0 2% 0 2%;
}

/*---------- Media Queries for Larger Screens ----------*/
@media screen and (min-width: 40.5em) {
	#nav #logo img { width: 10%; }
}