body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
						Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
	font-size: 160%;
	color: #444;
}


#nav ul { clear: both; padding: 1%;}

#nav ul li {
	list-style: none;
}

#nav ul li a {
	text-decoration: none;
	color: #28556b;
}

	#nav ul li a:visited { color: #56bcdb; }

#nav #logo img { 
	width: 30%;
	float: left;
	clear: both;
}

#nav #tagline {
	width: 70%;
	float: left;
}

#content-wrap { 
	width: 100%;
}

